body {
  font-family: CircularStd;
}

h1 {
  font-size: 61px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 27px;
}

p {
  font-size: 16px;
  color: #818697;
  line-height: 1.7;
}


.theme-container
  > .navbar
     position fixed
     padding 0.7rem 1.5rem

  .home-link
    margin-left 35px

    &:hover
      text-decoration: initial;

    @media screen and (min-width: 720px)
      margin-left 0

  .header-anchor
    font-size 32px
    color #3eaf7c
